PORT=3000
CORS_ORIGIN=http://localhost:5173
LOG_LEVEL=info

DATABASE_URL=databaseURL

HMRC_BASE_URL=https://base.url
HMRC_CLIENT_ID=your-client-id
HMRC_CLIENT_SECRET=your-client-secret
HMRC_TOKEN_URL=https://token.url
